---
permalink: '/feed.json'
---
{
  "title": "Daisy dose of nothing",
  "home_page_url": "https://nothing.pcarrier.com",
  "feed_url": "https://nothing.pcarrier.com/feed.json",
  "version": "https://jsonfeed.org/version/1.1",
  "items": [
    {% for post in collections.post | reverse | limit(10) -%}
      {
        "id": "https://nothing.pcarrier.com{{ post.url }}",
        "url": "https://nothing.pcarrier.com{{ post.url }}",
        "title": "{{ post.data.title }}",
        "date_published": "{{ post.date | rfc3339 }}",
        "content_html": {{ post.content | htmlmin | stringify }}
      }{% if not loop.last %},{% endif %}
    {% endfor -%}
  ]
}
